<div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Quote Valley</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" href="#">Home</li>
              <li class="create" href="#">Write</li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search Quote" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
      </nav>
  </div>
    
