<div class="container-fluid" *ngIf='quotes'>
    <div class="row">
        <div class="col-md 6 panel">
            <hr>
            <h1>Previous Quotes</h1>
            <ul>
                <div *ngFor='let quote of quotes;let i = index'>
                    <li>
                        <div class="row" id="vote" >
                            <div class="col-md-6">
                              <button  class='btn btn-success' (click)='upVote(i)' >Upvote</button>
                              <p *ngIf='quote' >{{quote.upvote}}</p>
                            </div>
                            <div class="col-md-6" >
                              <button *ngIf='quote' class='btn btn-danger'(click)="downVote(i)">Downvote</button>
                              <p *ngIf='quote'>{{quote.downvote}}</p>
                            </div>
                           </div>
                        <figure>
                            <blockquote class="blockquote">
                                <p appHighlight *ngIf="hUpvote()===quote.upvote && quote.upvote>0">{{quote.quote}}</p>
                                <p *ngIf="hUpvote()!==quote.upvote || quote.upvote===0">{{quote.quote}}</p>
                            </blockquote>
                            <button class='btn btn-primary'(click)='toggleDetails(i)'>Toggle Details</button>
                            <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isWritten) = 'quoteWritten($event,i)'></app-quote-detail>
                        </figure>
                    </li>
                </div>
            </ul>
        </div>
        <div class="col-md-6 panel">
            <hr>
            <h1>write your Quote here</h1>
            <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
        </div>
    </div>
</div>